.sun-editor {
  border: none !important;
}

.dark .sun-editor-edit {
  background-color: rgb(23 23 23) !important;
}

.css-b62m3t-container{
  border: 1px solid #14b8a6;
}

/* .dark .css-1s2u09g-control{
  background-color: rgb(23 23 23) !important;
} */

.google-ads {
  display: flex;
  align-items: center;
  border: 1px solid red;
  height: 100px;
}

.google-ads-native {
  /* width: 300px; */
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid blueviolet;
  height: 250px;
}
