.sun-editor {
  border: none !important;
}

.prose .se-table-selected-cell {
  outline: none !important;
}

.prose .se-notice {
  display: none !important;
}

.prose .se-controller {
  display: none !important;
}

.prose .se-resizing-container {
  display: none !important;
}

.prose .se-resize-dot {
  display: none !important;
}

.prose .se-line-breaker-component {
  display: none !important;
}
.prose .se-controller-resizing {
  display: none !important;
}

.dark .sun-editor-edit {
  background-color: rgb(23 23 23) !important;
}

.css-b62m3t-container {
  border: 1px solid #14b8a6;
}

.google-ads {
  display: flex;
  align-items: center;
  border: 1px solid red;
  height: 100px;
}

.google-ads-native {
  /* width: 300px; */
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid blueviolet;
  height: 250px;
}
